/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CustomerId]
      ,[Title]
      ,[FirstName]
      ,[OtherInitials]
      ,[LastName]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressLine3]
      ,[TownOrCity]
      ,[ZipCode]
      ,[USState]
      ,[AccountType]
      ,[ClearedBalance]
      ,[UnclearedBalance]
      ,[DateOpened]
      ,[DateClosed]
  FROM [ApressFinancial].[CustomerDetails].[Customers]